{
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "printWidth": 150,
  "useTabs": true,
  "arrowParens": "always",
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "tabWidth": 4
}
